.outer-container{
    width: 70%;
    margin: auto;
    margin-top: 12vh;
}
.outer-container-2{
    width: 70%;
    margin: auto;
    margin-top: 12vh;
}
.back-heading-2, .heading-center-2, .addItem-heading-2{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;    
}
.back-heading-2, .back-heading-2 label, .addItem-heading-2, .addItem-heading-2 label{
    cursor: pointer;
}
.outer-container-heading-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.heading-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-text > h2{
    display: inline-block;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.left-text > label{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: 100;
}
.right-text > a > i{
    font-size: 35px;
    color: red;
}
.right-text > a {
    display: block;
    text-decoration: none;
    margin-top: 28px;
    background-color: white;
    border: 4px solid whtie;
    cursor: pointer;
}
.right-text > a > label {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    cursor: pointer;
}
.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}
.card-container-2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}
.card-container > a{
    text-decoration: none;
    color: black;
}
.card-container-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 10px 20px 10px;
    border: 1px solid red;
    border-radius: 5px;
    min-width: 250px;
    min-height: 350px;        
}
.footer-btn-grp{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.footer-trash-btn { 
    width: 35px;   
    height: 35px;
    background-color: red;
    color: white;
    border: 4px solid red;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.footer-plus-btn{
    font-size: 35px;
    color: blue;
    cursor: pointer;
}
.item-heading{    
    height: 35px;
    text-align: center;    
}

.item-heading > p{
    margin: 20px 0px 10px 0px;
    color: red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-subitems {
    list-style-type: none;
    margin-top: 40px;
}
.card-subitems > li{
    margin-bottom: 5px;
}
.mark-done{
    background-color: rgb(99, 99, 241);
    border: 2px solid rgb(99, 99, 241);
    color: white;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 12px;
}
.item-description{    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.item-description > p:first-child{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-decoration: line-through;
    text-align: center;
}

.pendingTaskText{
    margin: 15px 0px 0px 10px;
}

.pendingTaskText > input {
    width: 15px;
    height: 15px;
}

.pendingTaskText > label {
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
}

.shadow-box{
    box-shadow: 5px 5px 10px 2px rgb(192, 186, 186);
}

/*CSS for Page - 2*/
.heading-p2{    
    text-align: center;
    margin: 10px;
}

.heading-p2 > hr{
    display: inline-block;    
    width: 200px;
}

.heading-p2 > h2{
    display: inline-block;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

.backBtn-p2{
    text-align: center;
}
.backBtn-p2 > a{
    text-decoration: none;
    color: black;
}
.backBtn-p2 > a > i{
    font-size: 35px;
    color: red;
}
.backBtn-p2 > a > label{
    font-size: 32px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.cardItem-container-p2{
    margin-top: 50px;
    width: 100vw;
}
.cardItem-p2{
    position: relative;
    margin: auto;
    width: 200px;
    height: 300px;
    border: 1px solid red;
    border-radius: 5px;
}
.item-heading-p2{
    width: 75%;
    margin-left: auto;
}
.item-heading-p2 > p{
    color: red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.item-des-p2{
    margin-top: 20px;
}
.item-des-p2 > p{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: line-through;
    color: red;
}
.pendingText-block-p2{
    margin-left: 10px;
}
.pendingText-block-p2 > input{
   width: 15px;
   height: 15px;
}
.pendingText-block-p2 > label{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .addBtn-p2 > a > i{
     font-size: 35px;
     color: red;
     position: absolute;
     right: 10px;
     bottom: 10px;
 }

 .blur{
     filter: blur(8px);
     pointer-events: none;
 }

 /*CSS for page 3*/

 .card-subitem{
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
 }
 .line-through-red{
     color: red;
     text-decoration: line-through;
 }
 .addItem-p3, .addSubItem-p3{     
    width: 350px;
    height: 180px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: white;    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
 }
 
 .addItem-p3 > p, .addSubItem-p3 > p{
     color: red;
     font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
 }
 .addItem-p3 > input, .addSubItem-p3 > input{
    display: block;
    margin: auto;
    margin-top: 25px;
    border: 1px solid red;
    width: 200px;
    height: 25px;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    text-align: center;
}
.btn-grp-p3{
    margin-top: 20px;
    text-align: center;
}
.addBtn-p3, .closeBtn-p3{
    width: 60px;
    height: 22px;
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    color: white;
    margin-right: 15px;
    cursor: pointer;
}
.hidden{
    display: none;    
}
#empty-info-text > h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    width: 90%;
    margin: auto;
}
 @media screen and (min-width: 320px) and (max-width: 620px){
    .addlist-link > label, .card-container .item-description, .card-container .card-container-item .footer-btn-grp, .card-container .card-container-item .item-heading hr, .addItem-heading-2 > label{
        display: none;
    }
    .outer-container{
        width: 85%;
    }
    .card-container, .heading-container{
        width: 100%;
    }
    .card-container-item{
        width: 100%;
        min-height: 60px;        
    }
    #card-container-2 .card-container-item{
        min-width: 200px;
        min-height: 350px;
    }
    #card-container-2 .item-heading hr{
        display: block;
    }
    #card-container-2 .card-container-item .footer-btn-grp, #card-container-2 .card-container-item .item-description{
        display: flex;
    }
    .item-heading{
        margin-right: auto;
        margin-left: 15px;
    }
    .item-heading > p{
        color: gray;
    }
    .heading-p2 > hr:first-child, .heading-p2 > hr:last-child, .backBtn-p2 > a > label, .addItem-heading-2 label{
        display: none;
    }
    
    .heading-mobile-btn-p2{
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        align-items: center;
        text-align: center;
    }
    .cardItem-p2{
        width: 70vw;
    }
    .heading-p2 > h2{
        font-size: 35px;
    }
    .addItem-p3{
        width: 70%;        
    }
    .item-heading{
        margin: 0px;
        width: 100%;
    }
}